<%= form_for :product, :url => { :controller => "products", :action => "search" }, :html => { :class => 'cash-form' } do |f|%>	
	<fieldset>
		<label for="text">Start Selling Now!</label>
		<div class="text">
			<!-- <input id="text" type="text" value="example: Apple iPhone 4" /> -->
			<%= text_field_tag 'name', '', :autocomplete => home_autocomplete_product_name_path, :value => "example: Apple iPhone 4", :class => 'cleardefault' %>
		</div>
		<%= f.submit :class => 'btn-go' %>
	</fieldset>
<% end %>
<div id="sidebar">
	<ul class="list-categories">
		<% @categories.each do |category| %>
			<li>
			<%= link_to(category) do %>
			    <span><%= category.name %></span>
			  <% end %>
			</li>
		<% end %>
	</ul>
	<%= link_to 'See all categories', categories_path, :class => 'all-categories' %>
</div>
<div class="content-holder">
	<div class="products-holder">
		<div class="t">
			<div class="b">
				<div class="products-box">
					<div class="steps">
						<h2>Sell in 3 Easy Steps</h2>
						<ul>
							<li>
								<div class="left">
									<div class="right">
										<div class="image">
											<img src="images/img-6.gif" width="52" height="72" alt="image description" />
										</div>
										<span>Get a Quote</span>
									</div>
								</div>
							</li>
							<li>
								<div class="left">
									<div class="right">
										<div class="image">
											<img src="images/img-7.gif" width="63" height="72" alt="image description" />
										</div>
										<span>Send it In</span>
									</div>
								</div>
							</li>
							<li>
								<div class="left">
									<div class="right">
										<div class="image">
											<img src="images/img-8.gif" width="50" height="72" alt="image description" />
										</div>
										<span>Get Paid!</span>
									</div>
								</div>
							</li>
						</ul>
						<strong>Search for your items in the search box above, answer a few questions, then get your price.</strong>
					</div>
					<div class="product">
						<h3>Just Sold Now</h3>
						<div class="image">
							<img src="images/img-9.gif" width="63" height="148" alt="image description" />
						</div>
						<div class="description">
							<p>A Depstar customer from Columbus, OH just got paid:</p>
							<span>$279</span>
							<p>For Their iPhone 4 32GB</p>
						</div>
						<div class="btn-sell-now">
							<%= link_to :controller => :products, :action => :search, :name => "iphone" do %>
								<span>Sell Your's Now</span>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>