<div id="sidebar">
	<h3>categories</h3>
	<ul class="list-categories">
		<% @categories.each do |category| %>
			<li>
			<%= link_to(category) do %>
			    <span><%= category.name %></span>
			  <% end %>
			</li>
		<% end %>
	</ul>
	<%= link_to 'See all categories', categories_path, :class => 'all-categories' %>
</div>
<div class="content-holder">
	<ul class="products">
		<li><%= link_to 'HOT PRODUCTS', :controller => "products", :action => "index", :popular => 'true' %><a href="#"></a></li>
		<li><%= link_to 'VIEW ALL PRODUCTS', products_path %></li>
	</ul>
	<div class="products-holder">
		<div class="t">
			<div class="b">
				<ul class="list-products">								
					
					<% @products.each do |product| %>
					
					<li class="<%= ( @products.each.first == product ? 'first' : cycle('','gray'))%> %>" >
						<a href="#">
							<%= link_to image_tag(product.photo.url(:small), :class => 'product'), product %>
						</a>
						<ul>
							<li><strong><%= product.name %></strong></li>
							<li>
								<%= link_to "Sell yours now", product %>
							</li>
						</ul>
					</li>
					<% end %>
					
				</ul>
			</div>
		</div>
	</div>
</div>
