<div id="active_admin_content" class="without_sidebar">
	<div id="main_content_wrapper">
		<div id="main_content">
			<%= form_for(@user,:url => "/affiliates/create" , :html => {:multipart => true}) do |f| %>
			
			<fieldset class="inputs">
				<legend>
					<span>Admin</span>
				</legend>
				<ol>
					<li class="email input optional stringish" id="user_email_input">
						<%= f.label :email,:class=>" label" %>
						<%= f.text_field :email %>
						<%= @user.errors[:email].join(", ") %>
					</li>
				
				
					<li class="email input optional stringish" id="user_email_input">
						<%= f.label :crypted_password,:class=>" label" %>
						<%= f.text_field :crypted_password %>
						<%= @user.errors[:crypted_password].join(", ") %>
					</li>
				</ol>
			</fieldset>
			<fieldset class="inputs">
				<ol>
					<li class="email input optional stringish" id="user_email_input">
						<%= f.label :status %>
						<%= f.check_box :status %>
						<%= @user.errors[:status].join(", ") %>
						<%= hidden_field_tag :is_affiliate_admin, false  %>
						<%= hidden_field_tag :user_id, session[:current_user]  %>
					</li>
				</ol>
			</fieldset>
			<fieldset class="actions">
				<ol>
					<li class="action input_action " id="user_submit_action">
						<%= f.submit "Create Affiliate" %>
					</li>
					<li class="cancel">
						<a href="/affiliates/users">Cancel</a>
					</li>
				</ol>
			</fieldset>			
			<% end %>			
		</div>
	</div>
</div>