<% @orders.each do |order| %>
<tr class="odd" id="user_10">
	<td class="order_id"><%= order.order_id %></td>
	<td class="username"><%= !order.user.nil? ? order.user.email : "Affiliate Removed" %></td>
	<td class="username"><%= order.first_name %></td>
	<td class="last_name"><%= order.last_name %></td>
	<td class="crypted_password">
		<% get_product_price(order.products, order.id).each do |price_type| %>
			<% price_type.first.price_type_id %>
			<% if price_type.first.price_type_id == 3 %>
				<%= order.product_title %>
			<% else %>
				<%= order.products.all.collect{ |p| [p.name] }.join(", ") %>
			<% end %>				
		<% end %>	
	</td>
	<td class="created_at"> 
		<% get_product_price(order.products, order.id).each do |price_type| %>
			<%= price_type.all.collect{ |p| Order::AffiliateConditionCategory[p.price_type_id - 1][0] }.join(', ') %>
		<% end %>
	 </td>
	<td class="created_at"> 
		<% get_product_price(order.products, order.id).each do |price_type| %>
			<%= price_type.all.collect{ |p| p.price }.join(' ') %>
		<% end %> 
	</td>
	<td class="last_name">
		<% if order.status %>	
			Completed
		<% else %>
			Canceled
		<% end %>
	</td>
	<td class="created_at"><%= order.created_at.strftime("%d/%m/%Y %I:%M%p") %></td>
	<td class=""> <%= link_to 'Show', order,:class=>"member_link view_link" %>
	<%= link_to 'Edit', edit_order_path(order),:class=>"member_link edit_link" %>
	<% if session[:admin] %>
		<%= link_to 'Destroy', order, :confirm => 'Are you sure?', :method => :delete %>
	<% end %>
	<%= link_to 'Cancel', "/cancel/#{order.id}/order",:class=>"member_link edit_link" %> </td>
</tr>

<% end %>


