<%= form_tag("/submit_price_type") do -%>
  <table>
  <tbody>  
  <% @order.products.each do |product| %>
  	<tr>
  		<td> 			
  			<%= product.name %>  			
  		</td>
  		<td>
  			<%= select_tag "products[product_price_type][]", options_for_select(Order::Condition.collect.map{ |i| [i.first, i.last]}) %>
  			<%= hidden_field_tag "products[product_id][]", product.id %>
  		</td>  		
  	</tr>
  <% end %>
  <%= hidden_field_tag "order_id", @order.id %>
  </tbody>  
  </table>
  <div class="actions">
    <%= submit_tag "Submit" %>
  </div>  
<% end -%>
<br />
