<h1>Orders</h1>

<table id="orders">
  <tr>
    <th>Name</th>
    <th>Email id</th>
    <th>Address</th>
    <th>State</th>
    <th>City</th>
    <th>Zip</th>
    <th>Phone Number</th>
    <th>Order Created at</th>
    <th>Notes</th>
    <th>Serial number</th>
    <th>Status</th>
    <th>Product title</th>
  </tr>
<% @orders.each do |order| %>
  <tr>
    <td><%= order.first_name %> <%= order.last_name %></td>
    <td><%= order.email %></td>
    <td><%= order.address %></td>
    <td><%= order.state.state %></td>
    <td><%= order.city %></td>
    <td><%= order.zip %></td>
    <td><%= order.phone_number %></td>
    <td><%= order.created_at.strftime("%m/%d/%Y") %></td>
    <td><%= order.notes %></td>
    <td><%= order.serial_no %></td>
    <td><%= order.status %></td>
    <td><%= order.product_title %></td>
  </tr>
<% end %>
</table>