<% content_for :title, "Corporate - " %>
<p id="notice"><%= notice %></p>

<% if @corporate_message.errors.any? %>
	<div id="error_explanation">
   		<h2><%= pluralize(@corporate_message.errors.count, "error") %> prohibited this message from being sent:</h2>
   		<ul>
   		<% @corporate_message.errors.full_messages.each do |msg| %>
    		<li><%= msg %></li>
   		<% end %>
   		</ul>
	</div>
<% end %>

<h2>Do you own a Business?</h2>
	<p>Worried about your company’s bottom line? Let Depstar get you more for your corporate inventory. We are a volume-based concept, meaning we have the capability of processing thousands of units at any one time. For business owners trying to sell their company’s old cell-phones, computers, or other electronics, Depstar is your solution. Simply fill out the form below, or visit our Live Chat and ask to speak to a corporate representative.</p>

<%= form_for @corporate_message, :url => {:action => "index"}, :html => { :class => 'sell-form'} do |f| %>
	<fieldset>
		<div class="text-holder">
			<div class="text">
				<%= f.text_field :name, :value => 'Name', :class => 'text' %>
			</div>
			<div class="text">
				<%= f.text_field :email, :value => 'Email', :class => 'text' %>
			</div>
			<div class="text">
				<%= f.text_field :phone, :value => 'Phone', :class => 'text' %>
			</div>
		</div>
		<div class="textarea">
			<%= f.text_area :message, :size => "30x20", :value => "Questions? Items you want to sell?" %>
		</div>
		<input type="submit" class="btn-sell-form" />
	</fieldset>
<% end %>