<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :is_popular %><br />
    <%= f.check_box :is_popular %>
  </div>

  <div class="field">
    <%= f.label :usell_category_code %><br />
    <%= f.select :usell_category_code, options_for_select([['Cell Phones', 1], ['Tablets', 2], ['MP3 Players', 3], ['Game Consoles', 4], ['E-Readers', 5], ['Digital Cameras', 6] ], @category.usell_category_code), :include_blank => true %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
