<p id="notice">
	<%= notice %>
</p>

<div class="product">	
	<div class="items-holder">
		<table class="sell-table">
			<thead>
				<tr>					
					<td colspan="5">						
							<% if !@series.nil? %>
								Select your <%=   @carrier.name %> <%= @category.name if !@category.name.include?("iPhone") and !@category.name.include?("iPad") and !@category.name.include?("iPod")%> <%= @series.name %> 
							<% else %>
								Select your <%=  " #{@carrier.name} #{@manufacturer.name} #{@category.name.singularize.camelize}" %>
							<% end %>											
					</td>
				</tr>
			</thead>
			<tbody>
				<% @products.each_slice(5) do |slice| -%>
				<tr>
					<% @counter = 0 %>
					<% slice.each do |product| %>
						<% @counter += 1 %>
						<td width=177px>
						<%= form_tag "/search/#{params[:category]}/#{params[:manufacturer]}/#{params[:carrier]}/#{product.name.downcase.gsub(' ','_')}",:id=>"manufacturer_form_#{product.id}", :method => :post do -%>
						<% if product.photo %>
							<%= image_tag product.photo.url(:small),:style=>"cursor:pointer" %>
						<% else %>
							<%= image_tag "http://depstar.com/assets/products/missing_small.gif",:style=>"cursor:pointer" %>
						<% end %>
						<p>
							<%#= product.name %>
							<%= label_tag nil,product.name,:style=>"cursor:pointer" %>
						</p>
						<p>							
							<%#= label "Sell Now",product , :class=>"sell" %>
							<%= label_tag nil,"Sell Now" , :class=>"sell",:style=>"cursor:pointer;" %>
							<%= hidden_field_tag :id, product.id %>							
						</p>
						<% end -%>
					</td>
					<% end %>
					
					
					</tr>
				<% end %>

			</tbody>
		</table>
	</div>
</div>

