<% content_for :title, "Categories - " %>
<p id="notice"><%= notice %></p>

<div class='all-categories' style='padding: 0px 10px 0px 10px; '>
	<ul>
		<% @categories.each do |category| %>
		<il>
		<div style="min-height: 50px; float: left; width: 200px; text-align: center;">
			
			<div class='details'>
				<%= link_to category.name, category %>
			</div>			
		
			<% if current_user %>
			<div class='admin'>					
					<%= link_to 'Show', category %>
	    			<%= link_to 'Edit', edit_category_path(category) %>
	    			<%= link_to 'Destroy', category, :confirm => 'Are you sure?', :method => :delete %>			
			</div>	
			<% end %>
		
		</div>
		</il>
		<% end %>
	</ul>
	
</div>

<% if current_user %>
<div class='clear'> &nbsp; </div>

<div style='padding: 10px;'>
		<%= link_to 'New Category', new_category_path %>
</div>
<% end %>