<%#= render_breadcrumbs :separator => ' / ' %>

<p id="notice">
	<%= notice %>
</p>

<div class="product">
	<div class="items-holder">
		
	<% if !@apple_product %>	
		
		<table class="sell-table">
			<thead>
				<tr>
					<!--<td colspan="5">These are the <%#= @category.name %> we currently buy: </td> -->
					<td colspan="5">Select your Manufactures</td>
				</tr>
			</thead>
			<tbody>
				<% @category.manufacturers.each_slice(5) do |slice| -%>
				<tr>
					<% @counter = 0 %>
					<% slice.each do |manufact| %>
					<% @counter += 1 %>
						<td> 
							<%= link_to image_tag("http://depstar.com/assets/products/missing_small.gif"), manufact %>
							<p>
								<%= link_to manufact.name, manufact_carrier_path(:cat_id=>params[:id],:manufact_id => manufact) %>
							</p>
						</td>
					<% end %>					
				</tr>
				<% end %>
			</tbody>
		</table>
		<% else %>
			<table class="sell-table">
			<thead>
				<tr>
					<!--<td colspan="5">These are the <%#= @category.name %> we currently buy: </td> -->
					<td colspan="5">Select any Product from Series </td>
				</tr>
			</thead>
			<tbody>
				<% @category.series_lists.each_slice(5) do |slice| -%>
				<tr>					
					<% slice.each do |series| %>					
						<td>						
							<%= link_to image_tag("http://depstar.com/assets/products/missing_small.gif"), manufact_carrier_path(:cat_id => params[:id],:series_id => series) %>
							<p>
								<%= link_to series.name, manufact_carrier_path(:cat_id => params[:id],:series => series) %>
							</p>
						</td>
					<% end %>					
				</tr>
				<% end %>
			</tbody>
		</table>
		<% end %>	
		
				
	</div>
</div>

