<% content_for :title, "Sell " + @category.name + " - " %>
<p id="notice"><%= notice %></p>

<div>
	
	<div style='padding: 0px 20px 0px 20px;' class="products-holder">
		<div class="">
			<div class="b" style='padding-bottom: 30px;'>
				<h2 style='color: gray; float: left;'>Select Your Product</h2>
				<% if @products.count > @products.per_page %>
				<div class="custom_pagination">
			    <%= will_paginate @products, :container => false %>
					<div class="page_info">
			      <%= page_entries_info @products %>
			    </div>
			  </div>
				<% end %>
				<ul class="list-products">
					<% @products.each do |product| %>
					<div style="float: left; width: 150px; padding: 0px 5px; text-align: center;">
						<li style='padding-top: 0px; margin: 0px 0px 50px 0px; clear: both;'>
							<ul style='position: relative; top: 10px;'>
								<li style='min-height: 90px;'>
									<%= image_tag(product.photo.url(:small)) %>
								</li>
								<li style='min-height: 30px;'><strong><%= product.name %></strong></li>
								<li>
									<%= link_to "Sell Now", product %>
								</li>
							</ul>
						</li>
					</div>
					<% end %>						
				</ul>				
				<!-- <div style='clear: both;'>&nbsp;</div> -->
				<% if @products.count > @products.per_page %>
				<div class="custom_pagination">
			    <%= will_paginate @products, :container => false %>
					<div class="page_info">
			      <%= page_entries_info @products %>
			    </div>
			  </div>
				<% end %>
			</div>
			
		</div>
	</div>
	
</div>