<p id="notice"><%= notice %></p>

<!--
<p>
  <b>Name:</b>
  <%= @category.name %>
</p>

<p>
  <b>Is popular:</b>
  <%= @category.is_popular %>
</p>
-->

<div style='padding: 0px 20px 0px 20px; '>
	<% @category.products.each do |product| %>
	<div style="height: 220px; float: left; width: 200px; text-align: center;">
		<div>
			<%= link_to product.name, product %>
		</div>
		<div>
			<%= link_to image_tag(product.photo.url(:small)), product %>
		</div>
		<div>		
			<%= link_to "Sell yours now", product %>
		</div>	
	</div>
	<% end %>
</div>

<!--
<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
-->