<% content_for :title, "Sell " + @category.name + " - " %>
<p id="notice"><%= notice %></p>

<div style='padding: 0px 20px 0px 20px;'>
	
	<div class="products-holder">
		<div class="">
			<div class="b" style='padding-bottom: 30px;'>
				<div class="apple_pagination">				    
			    <%= will_paginate @products, :container => false %>
			  </div>
				<ul class="list-products">
					<% @products.each do |product| %>
					<div style="float: left; width: 200px; text-align: center;">
						<li style='padding-top: 0px; margin: 0px 0px 50px 0px; clear: both;'>
							<ul style='position: relative; top: 10px;'>
								<li style='min-height: 90px;'>
									<%= image_tag(product.photo.url(:small)) %>
								</li>
								<li style='min-height: 30px;'><strong><%= product.name %></strong></li>
								<li>
									<%= link_to "Sell Now", product %>
								</li>
							</ul>
						</li>
					</div>
					<% end %>						
				</ul>								
				<div style='clear: both;'>&nbsp;</div>			
				<div class="apple_pagination">				    
			    <%= will_paginate @products, :container => false %>
			  </div>
			</div>
			
		</div>
	</div>
	
</div>