
		<div class="checkout-block">
			
			<% if @shipping_detail.errors.any? %>
			  <div class="error_messages">
			    <h2><%= pluralize(@shipping_detail.errors.count, "error") %> prohibited this user from being saved:</h2>
			    <ul>
			    <% @shipping_detail.errors.full_messages.each do |msg| %>
			      <li><%= msg %></li>
			    <% end %>
			    </ul>
			  </div>
			<% end %>
			
			<h2>Checkout</h2>
			<ul id="steps">
				<li class="active first"><a class="email" href="/checkout_steps/email"><span>Email</span></a></li>
				<li><a class="get-paid" href="/checkout_steps/get_paid"><span>Get Paid</span></a></li>
				<li><a class="shipping" href="/checkout_steps/shipping"><span>Shipping</span></a></li>
				<li class="last"><a class="confirm" href="/checkout_steps/confirm"><span>Confirm</span></a></li>
			</ul>
			<div class="steps-area">
				<h4>Your Email Address</h4>
				<p>We’ll use this email address to send you shipping details and progress updates every step of the way.</p>
				<!-- <form class="contact-form" action="#"> -->
				<%= form_for @shipping_detail, :html => { :class => 'contact-form' }, :url => wizard_path, :method => :put  do |f| %>
					<fieldset>
						<div class="row right">
							<label for="email">Email:</label>
							<!-- <input type="text" id="email" /> -->
							<%= f.text_field :email %>
						</div>
						<!-- <p><a class="notice" href="#">I already have a depstar account</a></p> -->
						<div class="row row-submit">
							<span class="submit">
								<%= f.hidden_field :product_id, :value => @shipping_detail.product.id %>
								<%= f.hidden_field :offer, :value => @shipping_detail.offer %>
								<%= f.hidden_field :payment_method_id, :value => @shipping_detail.payment_method_id %>
								<%= f.submit :value => 'Continue' %>
							</span>
						</div>
					</fieldset>
				<!-- </form> -->
				<% end %>
			</div>
			<div class="checkout-content">
				<div class="heading">
					<h4>Your Box Contents</h4>
				</div>
				<div class="wrapper">
					<!-- <img src="/images/img13.png" alt="image description" width="67" height="66" /> -->
					<%= image_tag @shipping_detail.product.photo.url(:small), :width => '67' %>
					<div class="info">
						<span class="name"> <%= @shipping_detail.product.manufacturer.name %> <%= @shipping_detail.product.name %> </span>
						<!-- <span class="price">$314 <a class="remove" href="#">remove</a> -->
						</span>
					</div>
				</div>
				<span class="total-price">Total Estimated Value <strong><%= number_to_currency(@shipping_detail.offer_or_default, :precision => 0) %></strong></span>
			</div>
		</div>
