<div id="main">
	<div class="holder">
		<div class="checkout-block">
			
			<% if @shipping_detail.errors.any? %>
			  <div class="error_messages">
			    <h2><%= pluralize(@shipping_detail.errors.count, "error") %> prohibited this user from being saved:</h2>
			    <ul>
			    <% @shipping_detail.errors.full_messages.each do |msg| %>
			      <li><%= msg %></li>
			    <% end %>
			    </ul>
			  </div>
			<% end %>
			
			<h2>Checkout</h2>
			<ul id="steps">
				<li class="checked first"><a class="email" href="#"><span>Email</span></a></li>
				<li class="active"><a class="get-paid" href="#"><span>Get Paid</span></a></li>
				<li><a class="shipping" href="#"><span>Shipping</span></a></li>
				<li class="last"><a class="confirm" href="#"><span>Confirm</span></a></li>
			</ul>
			<div class="steps-area">
				<h4>Payment</h4>
				<div class="text-block">
					<p>How would you like to get paid?</p>
				</div>
				<div class="wrapper">
					<% if @shipping_detail.payment_method.short_code == "check" %>
					<div class="box check" style="width: 610px;"> <!-- Tmp override styles -->
						<%= form_for @shipping_detail, :html => { :class => 'contact-form' }, :url => wizard_path, :method => :put  do |f| %>	
							<fieldset>
								<div class="row">
									<%= f.text_field :check_payment_name, :value => 'Payable to' %>
								</div>
								<div class="row">
									<%= f.text_field :check_payment_address1, :value => 'Address' %>
								</div>
								<div class="row">
									<%= f.text_field :check_payment_address2 %>
								</div>
								<div class="row">
									<%= f.text_field :check_payment_city, :value => 'City' %>
								</div>
								<div class="row">
									<%= f.text_field :check_payment_state, :value => 'State', :class => 'state' %>
									<%= f.text_field :check_payment_zip, :value => 'Zip', :class => 'zip' %>
								</div>
								<div class="box-frame" style="margin-left: auto; margin-right: auto; float: none; clear: both;"> <!-- Tmp override styles -->
									<span class="box-title">Send me a Check</span>
									<span class="submit">
										<%= f.hidden_field :product_id, :value => @shipping_detail.product.id  %>
										<%= f.hidden_field :email, :value => @shipping_detail.email %>
										<%= f.hidden_field :offer, :value => @shipping_detail.offer %>
										<%= f.hidden_field :payment_method_id, :value => @shipping_detail.payment_method_id %>
										
										<%= f.submit :value => 'Continue' %>
									</span>
								</div>
							</fieldset>
						<% end %>
					</div>
					<% else %>
					
					<div class="box paypal" style="width: 610px;"> <!-- Tmp override styles -->
						<%= form_for @shipping_detail, :html => { :class => 'contact-form' }, :url => wizard_path, :method => :put  do |f| %>
							<fieldset>
								<div class="row right">
									<%= f.text_field :paypal_email, :value => 'Paypal email address', :autofocus => true %>
								</div>
								<div class="box-frame" style="margin-left: auto; margin-right: auto; float: none; clear: both;"> <!-- Tmp override styles -->
									<span class="box-title">Pay me via paypal</span>
									<span class="submit">
										<%= f.hidden_field :email, :value => @shipping_detail.email %>
										<%= f.hidden_field :product_id, :value => @shipping_detail.product.id %>
										<%= f.hidden_field :offer, :value => @shipping_detail.offer %>
										<%= f.hidden_field :payment_method_id, :value => @shipping_detail.payment_method_id %>
								
										<%= f.submit :value => 'Continue' %>
									</span>
									<a href="#" class="btn-recieve">Receive payment same day</a>
								</div>
							</fieldset>
						<% end %>
					</div>
					
					<% end %>
					
				</div>
			</div>
			<div class="checkout-content">
				<div class="heading">
					<h4>Your Box Contents</h4>
				</div>
				<div class="wrapper">
					<img src="/images/img13.png" alt="image description" width="67" height="66" />
					<div class="info">
						<span class="name"><%= @shipping_detail.product.name %></span>
						<!-- <span class="price">$314 <a class="remove" href="#">remove</a> -->
						</span>
					</div>
				</div>
				<span class="total-price">Total Estimated Value <strong><%= number_to_currency(@shipping_detail.offer_or_default, :precision => 0) %></strong></span>
			</div>
		</div>
	</div>
</div>
