<div class="checkout-block">

	<% if @shipping_detail.errors.any? %>
	<div class="error_messages">
		<h2><%= pluralize(@shipping_detail.errors.count, "error") %> prohibited moving to the next step:</h2>
		<ul>
			<% @shipping_detail.errors.full_messages.each do |msg| %>
			<li>
				<%= msg %>
			</li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<h2>Checkout</h2>
	<ul id="steps">
		<li class="checked first">
			<a class="email" href="/checkout_steps/email"><span>Email</span></a>
		</li>
		<li class="checked">
			<a class="get-paid" href="/checkout_steps/get_paid"><span>Get Paid</span></a>
		</li>
		<li class="active">
			<a class="shipping" href="#"><span>Shipping</span></a>
		</li>
		<li class="last">
			<a class="confirm" href="#"><span>Confirm</span></a>
		</li>
	</ul>
	<div class="steps-area">
		<h4 style="margin: 0 0 19px;">Where should we send your box?</h4>
		<!-- <div class="text-block">
		<p>Please choose your shipping option</p>
		</div> -->
		<!-- <div class="wrapper">
		<div class="box print">
		<form class="contact-form" action="#">
		<fieldset>
		<div class="row">
		<input type="text" value="Payable to" />
		</div>
		<div class="row">
		<input type="text" value="Address 1" />
		</div>
		<div class="row">
		<input type="text" value="Address 2" />
		</div>
		<div class="row">
		<input type="text" value="City" />
		</div>
		<div class="row">
		<input class="state" type="text" value="State" />
		<input class="zip" type="text" value="Zip" />
		</div>
		<div class="row">
		<input type="text" value="Phone Number" />
		</div>
		<div class="box-frame">
		<span class="box-title">Print a Label</span>
		<span class="submit">
		<input type="submit" value="Continue" />
		</span>
		<a href="#" class="btn-recieve">Faster payment by shipping yourself</a>
		</div>
		</fieldset>
		</form>
		</div>
		<div class="box send">
		<form class="contact-form" action="#">
		<fieldset>
		<div class="row">
		<input type="text" value="Payable to" />
		</div>
		<div class="row">
		<input type="text" value="Address 1" />
		</div>
		<div class="row">
		<input type="text" value="Address 2" />
		</div>
		<div class="row">
		<input type="text" value="City" />
		</div>
		<div class="row">
		<input class="state" type="text" value="State" />
		<input class="zip" type="text" value="Zip" />
		</div>
		<div class="row">
		<input type="text" value="Phone Number" />
		</div>
		<div class="box-frame">
		<span class="box-title">Send me a Box</span>
		<span class="submit">
		<input type="submit" value="Continue" />
		</span>
		</div>
		</fieldset>
		</form>
		</div>
		</div> -->

		<div class="wrapper">
			<div class="box send" style="width: 610px;">
				<!-- Tmp override styles -->
				<%= form_for @shipping_detail, :html => { :class => 'contact-form' }, :url => wizard_path, :method => :put  do |f| %>
				<fieldset>
					<div class="row">
						<%= f.text_field :first_name, :class => 'first_name', :value => (@shipping_detail.first_name.nil? ? 'First Name' : @shipping_detail.first_name), :style => 'width: 220px;' %>
						<%= f.text_field :last_name, :class => 'last_name', :value => (@shipping_detail.last_name.nil? ? 'Last Name' : @shipping_detail.last_name), :style => 'width: 220px;' %>
					</div>
					<div class="row">
						<%= f.text_field :address1, :value => (@shipping_detail.address1.nil? ? 'Address' : @shipping_detail.address1), :style => 'width: 500px;' %>
					</div>
					<div class="row">
						<%= f.text_field :address2, :style => 'width: 500px;' %>
					</div>
					<div class="row">
						<%= f.text_field :city, :value => (@shipping_detail.city.nil? ? 'City' : @shipping_detail.city), :style => 'width: 500px;' %>
					</div>
					<div class="row">
						<%= f.text_field :state, :class => 'state', :value => (@shipping_detail.state.nil? ? 'State' : @shipping_detail.state), :style => 'width: 220px;' %>
						<%= f.text_field :zip, :class => 'zip', :value => (@shipping_detail.zip.nil? ? 'Zip' : @shipping_detail.zip), :style => 'width: 220px;' %>
					</div>
					<div class="row">
						<%= f.text_field :phone, :value => (@shipping_detail.phone.nil? ? 'Phone Number' : @shipping_detail.phone), :style => 'width: 500px;' %>
					</div>
					<div class="box-frame" style="margin-left: auto; margin-right: auto; float: none; clear: both;">
						<span class="box-title">Send me a Box</span>
						<span class="submit"> <%= f.hidden_field :product_id, :value => @shipping_detail.product.id  %>
							<%= f.hidden_field :email, :value => @shipping_detail.email %>

							<%= f.hidden_field :check_payment_name, :value => @shipping_detail.check_payment_name %>
							<%= f.hidden_field :check_payment_address1, :value => @shipping_detail.check_payment_address1 %>
							<%= f.hidden_field :check_payment_address2, :value => @shipping_detail.check_payment_address2 %>
							<%= f.hidden_field :check_payment_city, :value => @shipping_detail.check_payment_city %>
							<%= f.hidden_field :check_payment_state, :value => @shipping_detail.check_payment_state %>
							<%= f.hidden_field :check_payment_zip, :value => @shipping_detail.check_payment_zip %>

							<%= f.hidden_field :paypal_email, :value => @shipping_detail.paypal_email %>
							<%= f.hidden_field :offer, :value => @shipping_detail.offer %>
							<%= f.hidden_field :payment_method_id, :value => @shipping_detail.payment_method_id %>

							<%= f.submit :value => 'Continue' %> </span>
					</div>
				</fieldset>
				<% end %>
			</div>
		</div>

	</div>
	<div class="checkout-content">
		<div class="heading">
			<h4>Your Box Contents</h4>
		</div>
		<div class="wrapper">
			<!-- <img src="/images/img13.png" alt="image description" width="67" height="66" /> -->
			<%= image_tag @shipping_detail.product.photo.url(:small), :width => '67' %>
			<div class="info">
				<span class="name"><%= @shipping_detail.product.name %></span>
				<!-- <span class="price">$314 <a class="remove" href="#">remove</a> -->
				</span>
			</div>
		</div>
		<span class="total-price">Total Estimated Value <strong><%= number_to_currency(@shipping_detail.offer_or_default, :precision => 0) %></strong></span>
	</div>
</div>
