<% content_for :javascript do %>
<script type="text/javascript">
	//window.removeEventListener("load", initPage, false);

	function initInputs() {
		// replace options
		var opt = {
			clearInputs: false,
			clearTextareas: true,
			clearPasswords: true
		}
		// collect all items
		var inputs = [].concat(
			PlaceholderInput.convertToArray(document.getElementsByTagName('input')),
			PlaceholderInput.convertToArray(document.getElementsByTagName('textarea'))
		);
		// apply placeholder class on inputs
		for(var i = 0; i < inputs.length; i++) {
			if(inputs[i].className.indexOf('default') < 0) {
				var inputType = PlaceholderInput.getInputType(inputs[i]);
				if((opt.clearInputs && inputType === 'text') ||
					(opt.clearTextareas && inputType === 'textarea') || 
					(opt.clearPasswords && inputType === 'password')
				) {
					new PlaceholderInput({
						element:inputs[i],
						wrapWithElement:false,
						showUntilTyping:false,
						getParentByClass:false,
						placeholderAttr:'value'
					});
				}
			}
		}
	}

</script>
<% end %>

<%= form_for @product, :html => { :multipart => true } do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :manufacturer %><br />
		<%= f.collection_select "manufacturer_id", Manufacturer.all, :id, :name, :prompt => "Select" %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :is_popular %><br />
    <%= f.check_box :is_popular %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br />
	<%= f.collection_select "category_id", Category.all, :id, :name, :prompt => "Select" %>
  </div>
  <div class="field">
    <%= f.label :photo %><br />
    <%= f.file_field :photo %>
  </div>
  
  
    <div style="padding: 5px; margin: 5px; border: 1px solid gray; width: 300px;">
    <h3>Question 1</h3>
    <div class="field">
      <%= f.label :question_1_is_enabled, "Is Enabled?" %><br />
      <%= f.check_box :question_1_is_enabled %>
    </div>
    <div class="field">
    <%= f.label :question_1_name, "Name" %><br />
    <%= f.text_field :question_1_name %>
    </div>

    <div class="field">
    <%= f.label :question_1_option_1_multiplier, "Option 1 Multiplier" %><br />
    <%= f.text_field :question_1_option_1_multiplier %>
    </div>
    <div class="field">
    <%= f.label :question_1_option_1_price, "Option 1 Price" %><br />
    <%= f.text_field :question_1_option_1_price %>
    </div>

    <div class="field">
    <%= f.label :question_1_option_2_multiplier, "Option 2 Multiplier" %><br />
    <%= f.text_field :question_1_option_2_multiplier %>
    </div>
    <div class="field">
    <%= f.label :question_1_option_2_price, "Option 2 Price" %><br />
    <%= f.text_field :question_1_option_2_price %>
    </div>

  </div>

  <div style="padding: 5px; margin: 5px; border: 1px solid gray; width: 300px;">
    <h3>Question 2</h3>
    <div class="field">
      <%= f.label :question_2_is_enabled, "Is Enabled?" %><br />
      <%= f.check_box :question_2_is_enabled %>
    </div>
    <div class="field">
    <%= f.label :question_2_name, "Name" %><br />
    <%= f.text_field :question_2_name %>
    </div>

    <div class="field">
    <%= f.label :question_2_option_1_multiplier, "Option 1 Multiplier" %><br />
    <%= f.text_field :question_2_option_1_multiplier %>
    </div>
    <div class="field">
    <%= f.label :question_2_option_1_price, "Option 1 Price" %><br />
    <%= f.text_field :question_2_option_1_price %>
    </div>

    <div class="field">
    <%= f.label :question_2_option_2_multiplier, "Option 2 Multiplier" %><br />
    <%= f.text_field :question_2_option_2_multiplier %>
    </div>
    <div class="field">
    <%= f.label :question_2_option_2_price, "Option 2 Price" %><br />
    <%= f.text_field :question_2_option_2_price %>
    </div>
  </div>

  <div style="padding: 5px; margin: 5px; border: 1px solid gray; width: 300px;">
    <h3>Question 3</h3>
    <div class="field">
      <%= f.label :question_3_is_enabled, "Is Enabled?" %><br />
      <%= f.check_box :question_3_is_enabled %>
    </div>
    <div class="field">
    <%= f.label :question_3_name, "Name" %><br />
    <%= f.text_field :question_3_name %>
    </div>

    <div class="field">
    <%= f.label :question_3_option_1_multiplier, "Option 1 Multiplier" %><br />
    <%= f.text_field :question_3_option_1_multiplier %>
    </div>

    <div class="field">
    <%= f.label :question_3_option_2_multiplier, "Option 2 Multiplier" %><br />
    <%= f.text_field :question_3_option_2_multiplier %>
    </div>

    <div class="field">
    <%= f.label :question_3_option_3_multiplier, "Option 3 Multiplier" %><br />
    <%= f.text_field :question_3_option_3_multiplier %>
    </div>

    <div class="field">
    <%= f.label :question_3_option_4_multiplier, "Option 4 Multiplier" %><br />
    <%= f.text_field :question_3_option_4_multiplier %>
    </div>

  </div>

  <div style="padding: 5px; margin: 5px; border: 1px solid gray; width: 300px;">
    <h3>Question 4</h3>
    <div class="field">
      <%= f.label :question_4_is_enabled, "Is Enabled?" %><br />
      <%= f.check_box :question_4_is_enabled %>
    </div>

    <div class="field">
    <%= f.label :question_4_name, "Name" %><br />
    <%= f.text_field :question_4_name %>
    </div>

    <div class="question_options admin_details">
      <%= f.fields_for :question_options do |builder| %>
        <%= render "question_option_fields", :f => builder %>
      <% end %>
      <p><%= link_to_add_fields "Add Question Option", f, :question_options %></p>
    </div>
  
  </div>  
  
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
