<% content_for :title, @product.name + " - " %>
<div class="product-description">
	<!-- <form action="#"> -->
		<fieldset>
			<div class="image">
				<div style='margin-bottom: 10px'>
					<%= image_tag @product.photo.url(:small) %>
				</div>
				<div style='text-align: center; width: 125px;'>
					<span class='product-title'><%= @product.name %></span>
				</div>
			</div>
			<div class="conditions">
				<h2>Describe Your Item</h2>
				<%= form_for @question_response, :method => :get, :remote => true do |f| %>
					<p id="notice"><%= notice %></p>
					<%= f.hidden_field :product_id, :value => @product.id %>

					<% if @product.try(:question_1_is_enabled) %>
						<p>
							<b><%= @product.question_1_name %> </b> <br/>
							<%= f.radio_button(:question_1, "True") %> Yes
							<%= f.radio_button(:question_1, "False") %> No
						</p>
					<% end %>

					<% if @product.try(:question_2_is_enabled) %>
						<p>
							<b><%= @product.question_2_name %> </b> <br/>
							<%= f.radio_button(:question_2, "True") %> Yes
							<%= f.radio_button(:question_2, "False") %> No
						</p>
					<% end %>

					<% if @product.try(:question_3_is_enabled) %>
						<p>
							<b><%= @product.question_3_name %> </b> <br/>
							<%= f.radio_button(:question_3, "1") %> Poor <span class='condition_details'>Broken housing and/or parts missing</span> <br/>
							<%= f.radio_button(:question_3, "2") %> Fair <span class='condition_details'>Multiple scratches, nicks or dents</span> <br/>
							<%= f.radio_button(:question_3, "3") %> Good <span class='condition_details'>Very minor scratches</span> <br/>
							<%= f.radio_button(:question_3, "4") %> Perfect <span class='condition_details'>Fully operational. Looks New without any scratches. Must come complete with all original accessories and packaging</span> <br/>
						</p>
					<% end %>

					<% if @product.try(:question_4_is_enabled) %>
						<p>
							<b><%= @product.question_4_name %> </b> <br/>
							<% @product.question_options.each do |question_option| %>
								<%= check_box_tag "question_response[question_4][]", question_option.id %> <%= question_option.name %> <br/>
							<% end %>
						</p>
					<% end %>

					<%= submit_tag "Get Quote" %>
				<% end %>			
				
				
			</div>
			<div class="aside">
				
				<div id='price_quote_results' style='text-align: center;'>
					&nbsp;
				</div>
				
				<div class="info-box">
					<h4>HOW DO WE CALCULATE YOUR OFFER?</h4>
					<p>Depstar calculates your offer based on several different questions we ask you. Most importantly, we get you the best value for your product. Our team is constantly updating pricing and getting you the most for your item. We always beat our competitors and get you your money faster.</p>
				</div>
			</div>
		</fieldset>
	<!-- </form> -->
</div>