<% content_for :title, "Sell " + @product.name + " - " %>
<div class="product-description">
	<!-- <form action="#"> -->
		<fieldset>
			<div class="image">
				<div style='margin-bottom: 10px'>
					<%= image_tag @product.photo.url(:small) %>
				</div>
				<div style='text-align: center; width: 125px;'>
					<span class='product-title'><%= @product.name %></span>
				</div>
			</div>
			<div class="conditions">
				<h2>Describe Your Item</h2>
				<%= form_for @question_response, :method => :get, :remote => true do |f| %>
					<p id="notice"><%= notice %></p>
					<%= f.hidden_field :product_id, :value => @product.id %>

					<% if @product.try(:question_1_is_enabled) %>
						<p>
							<b><%= @product.question_1_name %> </b> <br/>
							<%= f.radio_button(:question_1, "True") %> Yes
							<%= f.radio_button(:question_1, "False") %> No
						</p>
					<% end %>

					<% if @product.try(:question_2_is_enabled) %>
						<p>
							<b><%= @product.question_2_name %> </b> <br/>
							<%= f.radio_button(:question_2, "True") %> Yes
							<%= f.radio_button(:question_2, "False") %> No
						</p>
					<% end %>

					<% if @product.try(:question_3_is_enabled) %>
						<p>
							<b><%= @product.question_3_name %> </b> <br/>
							<div class='condition_header'>
								<%= f.radio_button(:question_3, "1") %> Heavy Wear</div> <span class='condition_details'>Heavy scratches, dents or dings, worn/scratched display</span> <br/>
							<div class='condition_header'>
							<%= f.radio_button(:question_3, "2") %> Average Wear</div> <span class='condition_details'>Worn out keys, worn paint, average scratches, dents, dings, light scratches on display from normal use</span> <br/>
							<div class='condition_header'>
							<%= f.radio_button(:question_3, "3") %> Light Wear</div> <span class='condition_details'>Perfect display, signs of minimal use with minor scratches, but no dents or dings</span> <br/>
							<div class='condition_header'>
							<%= f.radio_button(:question_3, "4") %> Like New</div> <span class='condition_details'>No signs of use, no dust, scratches, or blemishes, identical to being just taken out of the box</span> <br/>
						</p>
					<% end %>
					<div class='clear'></div>
					<% if @product.try(:question_4_is_enabled) %>
						<p>
							<b><%= @product.question_4_name %> </b> <br/>
							<% @product.question_options.each do |question_option| %>
								<%= check_box_tag "question_response[question_4][]", question_option.id %> <%= question_option.name %> <br/>
							<% end %>
						</p>
					<% end %>

					<%= submit_tag "Get Quote" %>
				<% end %>			
				
				
			</div>
			<div class="aside">
				
				<div id='price_quote_results' style='text-align: center;'>
					&nbsp;
				</div>
				
				<div class="info-box">
					<h4>HOW DO WE CALCULATE YOUR OFFER?</h4>
					<p>Depstar calculates your offer based on two main factors: the quality of your phone, and the payback rate of our competitors. First, we ask you several basic questions to accurately assess the condition of your phone before it reaches our facility. Second, Depstar representatives are constantly updating pricing information to ensure that our quote is higher than our competitors.</p>
				</div>
			</div>
		</fieldset>
	<!-- </form> -->
</div>