<% content_for :title, "Sell " + @product.name + " - " %>

<div id="main">
	<div class="holder">
		<div class="product">
			<div class="area">
				<div class="block">
					<div class="block-holder">
						<div class="aside-block">
							<!-- <a href="#"><img src="/images/img-phone9.png" alt="image description" width="166" height="228" /></a> -->
							<%= image_tag @product.photo.url(:small) %>
							<p><%= @product.name %></p>
							<!-- <a href="#" class="btn"><span>Change Model</span></a> -->
						</div>
						<div class="block-content">
							<div class="heading">
								<h2>My Phone is...</h2>
							</div>
							<!-- <form class="phone-status" action="/"> -->
								<%= form_tag '/checkout_steps/product', :id=>'select_product', :html => { :class => 'phone-status' }, :method => :put do |f| %>
								<fieldset>
									<ul class="tabset">
										<li class="active">
											<a href="#mtab1"><label for="r1"><input type="radio" name="condition" id="r1" checked="checked" value="Flawless" /><strong>Flawless</strong> Looks like it has never been used</label></a>
										</li>
										<li>
											<a href="#mtab2"><label for="r2"><input type="radio" name="condition" id="r2" value="Used" /><strong>Used</strong>Normal signs of use</label></a>
										</li>
										<li>
											<a href="#mtab3"><label for="r3"><input type="radio" name="condition" id="r3" value="Broken" /><strong>Broken</strong>Does not turn on or is broken..</label></a>
										</li>
									</ul>
								</fieldset>
								<%#= f.submit %>
								<%#= submit_tag 'Save' %>
							<!-- </form> -->
							<div class="tab-list">
								<div class="tab" id="mtab1">
									<div class="information">
										<h4>Your is in this condition if it has</h4>
										<ul class="list">
											<li>No noticeable flaws, still in its original package or looks like new</li>
											<li>No scratches, dents or marks</li>
											<li>No dust under the glass</li>
										</ul>
										<span class="price-text">We’ll pay you <strong><%= number_to_currency(@product.price_excellent, :precision => 0) %></strong></span>
									</div>
									<div class="payment-area">
										<h3>Pay me with...</h3>
										<div class="wrapper">
											
											
											<div class="payment-block">
												<a href="#" onclick="document.forms['select_product'].submit(); return false;">
												<img src="/images/img-payment1.png" alt="image description" width="62" height="39" />
												<div class="info">
													<h5>Paypal</h5>
													<p>Receive funds in your account the same day we receive your phone</p>
												</div>
												</a>
											</div>
											
											<div class="payment-block">
												<a href="#" onclick="document.forms['select_product'].submit(); return false;">
												<img src="/images/img-payment2.png" alt="image description" width="59" height="35" />
												<div class="info">
													<h5>Check</h5>
													<p>Have the funds issued to you by mail the same day we receive your phone</p>
												</div>
												</a>
											</div>
											
											
										</div>
									</div>
								</div>
								<div class="tab" id="mtab2">
									<div class="information">
										<h4>Your is in this condition if it has</h4>
										<ul class="list">
											<li>No noticeable flaws, still in its original package or looks like new</li>
											<li>No scratches, dents or marks</li>
											<li>No dust under the glass</li>
										</ul>
										<span class="price-text">We’ll pay you <strong><%= number_to_currency(@product.price_average, :precision => 0) %></strong></span>
									</div>
									<div class="payment-area">
										<h3>Pay me with...</h3>
										<div class="wrapper">
											
											<div class="payment-block">
												<a href="#" onclick="document.forms['select_product'].submit(); return false;">
												<img src="/images/img-payment1.png" alt="image description" width="62" height="39" />
												<div class="info">
													<h5>Paypal</h5>
													<p>Receive funds in your account the same day we receive your phone</p>
												</div>
												</a>
											</div>
											
											<div class="payment-block">
												<a href="#" onclick="document.forms['select_product'].submit(); return false;">
												<img src="/images/img-payment2.png" alt="image description" width="59" height="35" />
												<div class="info">
													<h5>Check</h5>
													<p>Have the funds issued to you by mail the same day we receive your phone</p>
												</div>
												</a>
											</div>
											
											
										</div>
									</div>
								</div>
								<div class="tab" id="mtab3">
									<div class="information">
										<h4>Your is in this condition if it has</h4>
										<ul class="list">
											<li>No noticeable flaws, still in its original package or looks like new</li>
											<li>No scratches, dents or marks</li>
											<li>No dust under the glass</li>
										</ul>
										<span class="price-text">We’ll pay you <strong><%= number_to_currency(@product.price_broken, :precision => 0) %></strong></span>
									</div>
									<div class="payment-area">
										<h3>Pay me with...</h3>
										<div class="wrapper">
											
											<div class="payment-block">
												<a href="#" onclick="document.forms['select_product'].submit(); return false;">
												<image src="/images/img-payment1.png" alt="Get Paid By PayPal" name="paypal" width="62" height="39" />
												<div class="info">
													<h5>Paypal</h5>
													<p>Receive funds in your account the same day we receive your phone</p>
												</div>
												</a>
											</div>
											
											<div class="payment-block">
												<a href="#" onclick="document.forms['select_product'].submit(); return false;">
												<!-- <input type="image" src="go.gif"/> -->
												<image src="/images/img-payment2.png" alt="Get Paid By Check" name="check" width="59" height="35" />
												<div class="info">
													<h5>Check</h5>
													<p>Have the funds issued to you by mail the same day we receive your phone</p>
												</div>
												</a>
											</div>
											
										</div>
									</div>
								<% end # </form> %> 
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

