<%= form_for(@shipping_detail) do |f| %>
  <% if @shipping_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shipping_detail.errors.count, "error") %> prohibited this shipping_detail from being saved:</h2>

      <ul>
      <% @shipping_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :product_id, :value => params[:product_id] %>
  <%= f.hidden_field :question_response_id, :value => params[:question_response_id] %>

  <div class="field">
    <%= f.label :requires_box, "Would you like us to send you a prepaid box?" %><br />
    <%= f.check_box :requires_box %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :address1 %><br />
    <%= f.text_field :address1 %>
  </div>
  <div class="field">
    <%= f.label :address2 %><br />
    <%= f.text_field :address2 %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </div>
  <div class="field">
	<% PaymentMethod.all.each do |payment_method| %>
	    <%= f.radio_button :payment_method_id, '0' %> <%= f.label payment_method.name %> <br />
	<% end %>
  </div>
  <div class="field">
    <%= f.label :paypal_email %><br />
    <%= f.text_field :paypal_email %>
  </div>
  <div class="actions">
    <%= f.submit "Get Paid" %>
  </div>
<% end %>
