<% content_for :javascript do %>
<script type="text/javascript">
	window.removeEventListener("load", initPage, false);
</script>
<% end %>

<div class="product-description">
	<%= form_for @shipping_detail do |f| %>
		<% if flash[:error] %>
			<p id='flash_error'><%= flash[:error] %></p>
		<% end %>
		<% if @shipping_detail.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@shipping_detail.errors.count, "error") %> prohibited this shipping_detail from being saved:</h2>
	
	      <ul>
	      <% @shipping_detail.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

		<% #debugger %>
	  <%= f.hidden_field :product_id, :value => @product.id unless @product.nil? %>
		<%= f.hidden_field :question_response_id, :value => @question_response.id unless @question_response.nil? %>
		
		<%= f.hidden_field :uuid, :value => @shipping_detail.uuid %>
		<%= f.hidden_field :referer, :value => @shipping_detail.referer %>
	
	  	<% content_for :javascript do %>
	  	 	<script type="text/javascript">
	  	 		function selectPaymentMethod(sender)
	    		{
					if(sender == "paypal")
					{
						$("#paypal_email").css("display", "block");
					}
					else
					{
						$("#paypal_email").css("display", "none");
					}
					
	    			return;
				}
			</script>
		<% end %>
	<div class="image">
		<div style='margin-bottom: 10px'>
			<%= image_tag @product.photo.url(:small) unless @product.nil? %>
		</div>
		<div style='text-align: center; width: 125px;'>
			<span class='product-title'><%= @product.name unless @product.nil? %></span>
		</div>
	</div>  
	<div class="conditions" style="float: left; width: 250px; clear: right; border: 1px solid red; min-height: 0px;">		
		<h2>Your Information</h2>
	  	<div>	  	
		  	<%= label_tag nil, 'How would you like to receive your payment?' %> <br />
			
		  	<p>
		  		<% PaymentMethod.all.each do |payment_method| %>
			    <%= f.radio_button :payment_method_id, payment_method.id, options = {:onclick => "selectPaymentMethod('#{payment_method.short_code}');"} %>
			    <%= f.label payment_method.name %>
			<% end %>
			</p>
	  </div>
	  
		<% unless @user.nil? %>
		
			<ul>
		  <% @shipping_detail.devices.each do |device| %>
				<li> <%= device.product.name %>
					<ul>
						<li>final_offer - <%= device.final_offer %></li>
						<li>status_code - <%= device.status_code %></li>
						<li>notes - <%= device.notes %></li>
						<li>offer - <%= device.offer %></li>
						<li>serial - <%= device.serial %></li>
					</ul>
				</li>
	    <% end %>
			</ul>
		
		<% end %>
				
	  <div id="paypal_email" class="field" style='display: none;'>
	    <%= f.label :paypal_email %><br />
	    <%= f.text_field :paypal_email %>
	  </div>
	  <div class="field">
	    <%= f.label :email %><br />
	    <%= f.text_field :email %>
	  </div>
	  <div class="field">
	    <%= f.label :first_name %><br />
	    <%= f.text_field :first_name %>
	  </div>
	  <div class="field">
	    <%= f.label :last_name %><br />
	    <%= f.text_field :last_name %>
	  </div>
	  <div class="field">
	    <%= f.label :phone %><br />
	    <%= f.text_field :phone %>
	  </div>
	  <div class="field">
	    <%= f.label :address1 %><br />
	    <%= f.text_field :address1 %>
	  </div>
	  <div class="field">
	    <%= f.label :address2 %><br />
	    <%= f.text_field :address2 %>
	  </div>
	  <div class="field">
	    <%= f.label :city %><br />
	    <%= f.text_field :city %>
	  </div>
	  <div class="field">
	    <%= f.label :state %><br />
	    <%= f.select :state, [
		    ['Alabama', 'AL'], 
		    ['Alaska', 'AK'],
		    ['Arizona', 'AZ'],
		    ['Arkansas', 'AR'], 
		    ['California', 'CA'], 
		    ['Colorado', 'CO'], 
		    ['Connecticut', 'CT'], 
		    ['Delaware', 'DE'], 
		    ['District Of Columbia', 'DC'], 
		    ['Florida', 'FL'],
		    ['Georgia', 'GA'],
		    ['Hawaii', 'HI'], 
		    ['Idaho', 'ID'], 
		    ['Illinois', 'IL'], 
		    ['Indiana', 'IN'], 
		    ['Iowa', 'IA'], 
		    ['Kansas', 'KS'], 
		    ['Kentucky', 'KY'], 
		    ['Louisiana', 'LA'], 
		    ['Maine', 'ME'], 
		    ['Maryland', 'MD'], 
		    ['Massachusetts', 'MA'], 
		    ['Michigan', 'MI'], 
		    ['Minnesota', 'MN'],
		    ['Mississippi', 'MS'], 
		    ['Missouri', 'MO'], 
		    ['Montana', 'MT'], 
		    ['Nebraska', 'NE'], 
		    ['Nevada', 'NV'], 
		    ['New Hampshire', 'NH'], 
		    ['New Jersey', 'NJ'], 
		    ['New Mexico', 'NM'], 
		    ['New York', 'NY'], 
		    ['North Carolina', 'NC'], 
		    ['North Dakota', 'ND'], 
		    ['Ohio', 'OH'], 
		    ['Oklahoma', 'OK'], 
		    ['Oregon', 'OR'], 
		    ['Pennsylvania', 'PA'], 
		    ['Rhode Island', 'RI'], 
		    ['South Carolina', 'SC'], 
		    ['South Dakota', 'SD'], 
		    ['Tennessee', 'TN'], 
		    ['Texas', 'TX'], 
		    ['Utah', 'UT'], 
			['Vermont', 'VT'], 
		    ['Virginia', 'VA'], 
		    ['Washington', 'WA'], 
		    ['West Virginia', 'WV'], 
		    ['Wisconsin', 'WI'], 
		    ['Wyoming', 'WY']],
		    {:prompt => 'Select one'} %>
	  </div>
	  <div class="field">
	    <%= f.label :zip %><br />
	    <%= f.text_field :zip, :maxlength=>'5' %>
	  </div>
		<div class="field">
			<h5> Terms of service </h5>
			<%= text_area_tag :tos_text, 'Privacy Policy

This privacy policy sets out how Depstar uses and protects any information that you give Depstar when you use this website. Depstar is committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this website, then you can be assured that it will only be used in accordance with this privacy statement. Depstar may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes. This policy is effective January 1, 2011.

What we collect

We may collect the following information:
name and address
contact information including email address
demographic information such as post code, preferences and interests
other information relevant to customer order
What we do with the information we gather
We require this information to understand your needs and provide you with a better service, and in particular for the following reasons: Internal record keeping.

We may use the information to improve our products and services.
We may periodically send promotional emails about new products, special offers or other information which we think you may find interesting using the email address which you have provided. You also have the option to opt out at anytime.
From time to time, we may also use your information to contact you for market research purposes. We may contact you by email, phone, fax or mail. We may use the information to customize the website according to your interests.
Security
We are committed to ensuring that your information is secure. In order to prevent unauthorized access or disclosure we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online.

Links to other websites
Our website may contain links to other websites of interest. However, once you have used these links to leave our site, you should note that we do not have any control over that other website. Therefore, we cannot be responsible for the protection and privacy of any information which you provide whilst visiting such sites and such sites are not governed by this privacy statement. You should exercise caution and look at the privacy statement applicable to the website in question.

Terms of Use

Welcome to our website. If you continue to browse and use this website you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern Depstar’s relationship with you in relation to this website.The term ‘Depstar’ or ‘us’ or ‘we’ refers to the owner of the website whose registered office is based in the United States of America. The term ‘you’ refers to the user or viewer of our website.The use of this website is subject to the following terms of use:

The content of the pages of this website is for your general information and use only. It is subject to change without notice.
Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law. You agree to hold Depstar and all of its owners harmless of all and any lawsuit''s.
Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements.
This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.
All trade marks reproduced in this website which are not the property of, or licensed to, the operator are acknowledged on the website. Unauthorized use of this website may give rise to a claim for damages and/or be a criminal offense.
From time to time this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s).
You may not create a link to this website from another website or document without Depstar’s prior written consent.
Terms and Conditions

This document outlines your rights, duties, and responsibilities as a Depstar.com Trade-In Program user. As such, it is your responsibility to read this agreement in its entirety before you participate in the program. By participating in the Depstar Trade-In Program, you legally acknowledge the stated rights, duties, and responsibilities and thereby accept the terms and conditions outlined below. I agree to the following terms and conditions of the Depstar Trade-in Program:

I am solely responsible for any personal, sensitive, or confidential information stored in the device.
I understand that Depstar is not responsible for removing the aforementioned personal, sensitive, or confidential information stored on the device.
I understand that Depstar cannot guarantee that all information stored on the device will be permanently removed. If I wish to transmit no personal, sensitive, or confidential information, it is my responsibility to remove such information from the device before sending it to Depstar.
I understand that all data stored on the device will be deleted and will be unrecoverable.
I am the sole and rightful owner of the device. The device is free from any liens or claims by any third parties.
I understand that if any device I send to Depstar is discovered to be ‘lost or stolen’, I will receive no compensation for the device.
The condition and manufacturer specifications of the device that I have provided to Depstar are accurate to the best of my ability.
I understand that the condition of the device when it arrives at Depstar’s warehouse is solely my responsibility.
I understand that Depstar will assume that the condition of the device upon arrival is the same as the condition of the device at the time of the trade-in transaction.
I understand that the trade-in value assigned to the device after its receipt and inspection by Depstar is final, non-negotiable, and contractually binding. I understand that this value may be less than the estimated value I was quoted at the time of the trade-in transaction.
I understand that Depstar does not issue payments for products not listed within the official trade-in categories on Depstar.com. If I send to Depstar a device of a particular make or model that is not contained within the categories listed on Depstar.com at the time of the trade-in transaction, Depstar is under no obligation to provide compensation to me.
I understand that Depstar is under no obligation to return the device to me should I be unsatisfied with the final trade-in value.
I understand that if the device does not have a valid and visible Electronic Serial Number (ESN) or International Mobile Equipment Identity (IMEI) number, I am entitled to no compensation.
I understand that if the device has either (A) water damage; or (B) corrupt software, it will be considered ''Not Fully Functional'' and compensation will be given accordingly.
I understand that it is my responsibility to discontinue contractual cellular service on the device before I send it to Depstar.
I understand that Depstar is not responsible for previous or subsequent airtime charges accrued prior, during, or after the trade-in transaction. Should such charges accrue, I understand that it is my legal obligation to resolve payment issues with my service provider.
I understand that any device that works on the Alltel, Cellular One, Nextel, Qwest, Sprint, US Cellular, or Verizon network must (A) be deactivated; and (B) have no outstanding balance on the account. If a device (A) is not deactivated; or (B) has an outstanding balance, the final trade-in value may be reduced to zero.
I agree to transfer all right, title and interest in the device to Depstar upon their receipt and inspection of the item at their warehouse.
I agree to ship the device to Depstar within 30 days of the trade-in transaction.
I understand that Depstar will not have any liability to me in excess of the final trade-in value of the device. Under no circumstances will Depstar be liable for any damages, whether foreseeable or unforeseeable, even if Depstar has been made aware of the possibility of such damages arising out of this agreement.
I agree to settle any dispute with respect to the trade-in program by arbitration governed by the Federal Arbitration Act (Title 9, US Code, Section 1-14) in the city of Boston, Massachusetts at the offices of the Better Business Bureau with each party paying one-half of the cost of the arbitration proceeding. I agree that by entering into this agreement, I am waiving the right to a bench trial and/or trial by jury and agree to only bring claims in my individual capacity and not as a plaintiff or class member in any purported class or representative proceeding.
You acknowledge and agree that all personal identifiable information provided to Depstar in connection with the trade-in program is governed by the privacy policy and understand that the said privacy policy may be updated at any time.

Definitions

“Item”: any mobile device or computer with the capability of storing personal information.
“Stored”: any information, encrypted or otherwise, that can be found in memory hardware on the device.
“Lost or stolen”: title rendered officially by a cellular provider to indicate that the device has at some point previously been misplaced or taken illegally from its rightful owner.', :size => "15x10", :disabled => true %> <br /> 
			<div style='width: 300px; vertical-align: top;'>
				<%= check_box_tag 'tos', 'yes', false, :class => 'accept_tos' %>
				<%= label_tag "Do you agree to the" %> <%= link_to 'terms of service', privacy_policy_path %>?				
			</div>
		</div>
	
		<% unless @user.nil? %>
	  <div class="field">
	    <%= f.label :status_code %><br />
	    <%= f.select :status_code, [
		    ['Awaiting Receipt', 0], 
		    ['Received', 1],
		    ['Paid', 2],
				['Returned', 3],
		    ['Recycled', 4],
		    ['Cancelled', 5],		    
				['ReQuote', 6]],
		    {:prompt => 'Select one'} %>
	  </div>
		<div class="field">
	    <%= f.label :serial %><br />
	    <%= f.text_field :serial %>
	  </div>
		<div class="field">
	    <%= f.label :offer %><br />
	    <%= f.text_field :offer, :disabled => true %>
	  </div>
		<div class="field">
	    <%= f.label :final_offer %><br />
	    <%= f.text_field :final_offer %>
	  </div>
		<div class="field">
			<%= f.label :referer %><br />
		  <%= f.text_field :referer, :disabled => true %>
		</div>
		<div class="field">
	    <%= f.label :notes %><br />
	    <%= f.text_area :notes %>
	  </div>
		<% end %>	
		
		<div class="actions">
	    <%= f.submit "Get Paid" %>
	  </div>

	<% end %>
	</div>
	<div class="aside" style='float: right; width: 150px; margin-top: 0px; padding-top: 0px; border: 1px solid green;'>
		<div id='price_quote_results' style='text-align: center;'>
			<%= render 'products/offer', :show_next_button => false unless @product.nil? %>
		</div>
		
		<div class="info-box">
			<h4>HOW DO WE CALCULATE YOUR OFFER?</h4>
			<p>Depstar calculates your offer based on two main factors: the quality of your phone, and the payback rate of our competitors. First, we ask you several basic questions to accurately assess the condition of your phone before it reaches our facility. Second, Depstar representatives are constantly updating pricing information to ensure that our quote is higher than our competitors.</p>
		</div>
	</div>
</div>