<h1>Shipping Requests</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th></th>
    <th></th>
  </tr>

<% @shipping_details.each do |shipping_detail| %>
  <tr>
    <td><%= shipping_detail.first_name %></td>
    <td><%= shipping_detail.last_name %></td>    
    <td><%= shipping_detail.email %></td>
    <td><%= link_to 'Show', shipping_detail %></td>
    <td><%#= link_to 'Edit', edit_shipping_detail_path(shipping_detail) %></td>
    <td><%= link_to 'Destroy', shipping_detail, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%#= link_to 'New Shipping detail', new_shipping_detail_path %>
