<div style='margin: 5px;'>
	<h1>Shipping Requests</h1>
	
	<%= will_paginate @shipping_details, :container => false %>
	
	<table>
	  <tr>
	    <th>Name</th>
	    <th>Email</th>
		  <th>Status</th>
			<th>Referrer</th>
			<th>Initial</th>
			<th>Final</th>			
	    <th>Created</th>
	    <th></th>
	    <th></th>
	  </tr>
		
	<% @shipping_details.each do |shipping_detail| %>
	  <tr>
	    <td><%= truncate(shipping_detail.full_name, :length => 30, :omission => '...') %></td>
	    <td><%= truncate(shipping_detail.email, :length => 35, :omission => '...') %></td>
	    <td><%= shipping_detail.status %></td>
			<td><%= shipping_detail.referer %></td>
			<td><%= number_to_currency(shipping_detail.offer_or_default, :precision => 0) %></td>
			<td><%= number_to_currency(shipping_detail.final_offer_or_default, :precision => 0) %></td>			
			<td><%= shipping_detail.created_at.strftime("%Y-%m-%d %H:%M") %></td>
	    <td><%= link_to 'Edit', edit_shipping_detail_path(shipping_detail) %></td>
	    <td><%= link_to 'Destroy', shipping_detail, :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %>
	</table>
</div>
