<<<<<<< HEAD
<%#= render :file => "/admin/index"  %> <h2>Orders</h2>
<p>
	<%= link_to 'New Order', new_shipping_detail_path(:login => current_user) %>
</p>

<%= will_paginate @shipping_details, :container => false %>

<table class="hovertable">
	<tr>
		<th>Name</th>
		<th>Email</th>
		<th>Address</th>
		<th>City</th>
		<th>State</th>
		<th>Product</th>
		<th>Type</th>
		<th></th>
		<th></th>
		<!-- 	    <th></th> -->

		<% @price_type = ["None","Flawless", "Used","Broken"]%>
		<% @shipping_details.each do |shipping_detail| %>
	<tr>
		<td><%= truncate(shipping_detail.full_name, :length => 30, :omission => '...') unless shipping_detail.full_name.nil? %></td>
		<td><%= truncate(shipping_detail.email, :length => 35, :omission => '...') %></td>
		<td><%= shipping_detail.address1 %></td>
		<td><%= shipping_detail.city %></td>
		<td><%= shipping_detail.state %></td>

		<td> <% shipping_detail.product %>
		<%# shipping_detail.products.each do |f| %>
		<%#= f.name %>
		<%# end %> </td>
		<td><%# shipping_detail.price_type %>
		<%# shipping_detail.other_details.each do |f| %>
		<%#= @price_type[f.price_type.to_i] %>
		<%# end %> </td>
		<!-- 			 <td><%#= number_to_currency(shipping_detail.offer_or_default != 0 ? shipping_detail.offer_or_default : shipping_detail.initial_total_offer, :precision => 0) %></td> -->
		<!-- 			# <td><%#= number_to_currency(shipping_detail.final_offer_or_default != 0 ? shipping_detail.final_offer_or_default : shipping_detail.final_total_offer, :precision => 0) %></td>			 -->
		<!-- 			<td><%#= shipping_detail.created_at.strftime("%Y-%m-%d %H:%M") %></td> -->
		<% if current_user or session[:admin].eql?(true) %> 
			<td><%= link_to 'Edit', edit_shipping_detail_path(shipping_detail) %></td>
			<td><%= link_to 'Destroy', shipping_detail, :confirm => 'Are you sure?', :method => :delete %></td>
		<% end %>
	</tr>

	<% end %>
</table>
