Please select field for :
<br/>
<tbody>
<%= form_tag("/updatedata?id=#{@shipping_detail.id}") do -%>
	
	<% @remainingData.each do |f| %>
	<tr>
		<td><%= Product.find(f.product_id).name %></td>
		<td><%= select_tag "product[price_type][]", options_for_select(ShippingDetail::Condition.map{ |i| [i.first , i.last]}) %></td>
		<td><%= hidden_field_tag "product[product_id][]", "#{f.product_id}" %></td>
	</tr>	
	<% end %>
	<%= submit_tag "Submit" %>
	<% end -%>
</tbody>

