<div id="footer">
	<div class="footer-info">
		<ul class="contact">
			<li>&copy; 2010 <a href="/">Depstar.com</a></li>			
			<li><a href="mailto:&#032;&#105;&#110;&#102;&#111;&#064;&#100;&#101;&#112;&#115;&#116;&#097;&#114;&#046;&#099;&#111;&#109;">&#032;&#105;&#110;&#102;&#111;&#064;&#100;&#101;&#112;&#115;&#116;&#097;&#114;&#046;&#099;&#111;&#109;</a></li>
		</ul>
		<ul class="footer-nav">
			<li><%= link_to 'Corporate', corporate_path, :class => 'more' %></li>
			<li><%= link_to 'Go Green', go_green_path, :class => 'more' %></li>
			<li><%= link_to 'Get A Check', get_paid_path, :class => 'more' %></li>
			<li><%= link_to 'Privacy Policy', privacy_policy_path, :class => 'more' %></li>
			<% if current_user %>
				<li><%= link_to 'Logout', logout_url %></li>
			<% end %>
			<li class="by">Website Design by <a href="http://sparkwiresolutions.com/" target="_blank">Sparkwire Solutions</a></li>
		</ul>
	</div>
	<ul class="social-networks">
		<li>
			<a href="http://www.facebook.com/pages/Depstar/109849125756594" target="_blank">
				<img src="/images/bg-facebook.gif" width="30" height="32" alt="image description" />
				Become a fan on Facebook
			</a>
		</li>
		<li>
			<a href="http://twitter.com/depstarBUYSELL" target="_blank">
				<img src="/images/bg-twitter.gif" width="30" height="32" alt="image description" />
				Follow us on Twitter
			</a>
		</li>
	</ul>
</div>
