<div id="footer">
	<div class="footer-info">
		<ul class="contact">
			<li>&copy; 2010 <a href="/">Depstar.com</a></li>			
			<li><a href="mailto:&#032;&#105;&#110;&#102;&#111;&#064;&#100;&#101;&#112;&#115;&#116;&#097;&#114;&#046;&#099;&#111;&#109;">&#032;&#105;&#110;&#102;&#111;&#064;&#100;&#101;&#112;&#115;&#116;&#097;&#114;&#046;&#099;&#111;&#109;</a></li>
		</ul>
		<ul class="footer-nav">
			<li><%= link_to 'Corporate', corporate_path, :class => 'more' %></li>
			<li><%= link_to 'Go Green', go_green_path, :class => 'more' %></li>
			<li><%= link_to 'Get A Check', get_paid_path, :class => 'more' %></li>
			<li><%= link_to 'Privacy Policy', privacy_policy_path, :class => 'more' %></li>
			<% if current_user %>
				<li><%= link_to 'Logout', logout_url %></li>
			<% end %>
		</ul>
	</div>
	<ul class="social-networks">
		<li style="width: 95px;">
			<a href="http://www.youtube.com/depstartv" target="_blank">
				<img src="/images/youtube.png" width="32" height="32" alt="Depstar YouTube" />
				Like us on YouTube
			</a>
		</li>
		<li style="width: 80px;">
			<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FDepstar%2F109849125756594&amp;send=false&amp;layout=button_count&amp;width=200&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=198615516856869" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:85px; height:21px;" allowTransparency="true"></iframe>
		</li>
		<li>
			<a href="http://www.facebook.com/pages/Depstar/109849125756594" target="_blank">
				<img src="/images/bg-facebook.gif" width="30" height="32" alt="Depstar Facebook" />
				Become a fan on Facebook
			</a>			
		</li>
		<li>
			<a href="http://twitter.com/#!/depstar_com" target="_blank">
				<img src="/images/bg-twitter.gif" width="30" height="32" alt="Depstar Twitter" />
				Follow us on Twitter
			</a>
		</li>
	</ul>
</div>
