<br />
<div id="footer">
	<div class="footer-left">
		<ul class="nav">
			<li><%= link_to 'Corporate', corporate_path %></li>
			<li><%= link_to 'Privacy Policy', privacy_policy_path %></li>
			<li><%= link_to 'Contact', contact_path %></li>
			<% if current_user %>
				<li><%= link_to 'Logout', logout_url %></li>
				<li><%= link_to 'My Profile', get_user(session[:current_user]).profile %></li>
			<% end %>
		</ul>
		<span class="copyright"> &copy; 2010 <a href="#">Depstar.com</a> | All rights reserved.</span>
	</div>
	<ul class="social-networks">
		<li class="facebook"><a href="http://www.facebook.com/pages/Depstar/109849125756594" target="_blank">facebook</a></li>
		<li class="twitter"><a href="http://twitter.com/#!/depstar_com" target="_blank">twitter</a></li>
		<li class="youtube"><a href="http://www.youtube.com/depstartv" target="_blank">youtube</a></li>
	</ul>
	<div class="follow-us">
		Follow Us:
	</div>
	
</div>
