<div id="footer">
	<div class="home-page-lower-links">
		<h3>Popular Searches</h3>
		<ul>
			<li><a href="/">Sell Electronics</a></li>
			<li><a href="/">Sell Used Electronics</a></li>	
			<li><a href="/">Sell Cell Phone</a></li>
			<li><a href="/">Sell My Phone</a></li>
			<li><a href="/categories/1-iphones">Sell My iPhone</a></li>
			<li><a href="/categories/1-iphones">Sell iPhone</a></li>
			<li><a href="/search?name=iphone%203g">Sell iPhone 3G</a></li>
			<li><a href="/search?name=iphone%203gs">Sell iPhone 3GS</a></li>
			<li><a href="/search?name=iphone%204">Sell iPhone 4</a></li>
			<li><a href="/search?name=iphone%204s">Sell iPhone 4S</a></li>
		</ul>
		<ul>
			<li><a href="/categories/3-ipad">Sell iPad</a></li>
			<li><a href="/categories/5-ipods">Sell iPod</a></li>
			<li><a href="/categories/2-laptops">Sell MacBook</a></li>
			<li><a href="/categories/8-blackberry">Sell Blackberry</a></li>
			<li><a href="/categories/10-android">Sell Droid</a></li>
			<li><a href="/">Sell Broken Electronics</a></li>
			<li><a href="/">Sell Broken Cell Phone</a></li>
			<li><a href="/">Sell Broken Phone</a></li>
			<li><a href="/">Sell Broken iPhone</a></li>
			<li><a href="/">Sell My Broken iPhone</a></li>
		</ul>
		<ul>	
			<li><a href="/search?name=iphone%203g">Sell Broken iPhone 3G</a></li>
			<li><a href="/search?name=iphone%203gs">Sell Broken iPhone 3GS</a></li>
			<li><a href="/search?name=iphone%204">Sell Broken iPhone 4</a></li>
			<li><a href="/search?name=iphone%204s">Sell Broken iPhone 4S</a></li>
			<li><a href="/categories/3-ipad">Sell Broken iPad</a></li>
			<li><a href="/categories/5-ipods">Sell broken iPod</a></li>
			<li><a href="/categories/2-laptops">Sell Broken MacBook</a></li>
			<li><a href="/categories/8-blackberry">Sell Broken Blackberry</a></li>
			<li><a href="/categories/10-android">Sell Broken Droid</a></li>
			<li><a href="/">Recycle Electronics</a></li>
		</ul>
		<ul>
			<li><a href="/">Recycle Used Electronics</a></li>
			<li><a href="/">Recycle Cell Phone</a></li>
			<li><a href="/">Recycle My Cell Phone</a></li>
			<li><a href="/categories/1-iphones">Recycle iPhone</a></li>
			<li><a href="/categories/1-iphones">Recycle My iPhone</a></li>
			<li><a href="/categories/5-ipods">Recycle iPod</a></li>
			<li><a href="/categories/3-ipad">Recycle iPad</a></li>
			<li><a href="/categories/2-laptops">Recycle MacBook</a></li>
			<li><a href="/categories/8-blackberry">Recycle Droid</a></li>
			<li><a href="/categories/10-android">Recycle Broken iPhone</a></li>
		</ul>
		<ul>
			<li><a href="/categories/1-iphones">Recycle My iPhone</a></li>
			<li><a href="/categories/3-ipad">Recycle My iPad</a></li>
			<li><a href="/categories/5-ipods">Recycle My iPod</a></li>
			<li><a href="/categories/2-laptops">Recycle My MacBook</a></li>
			<li><a href="/categories/1-iphones">Trade In iPhone</a></li>
			<li><a href="/categories/1-iphones">Trade In My iPhone</a></li>
			<li><a href="/categories/3-ipad">Trade In iPad</a></li>
			<li><a href="/categories/3-ipad">Trade in My iPad</a></li>
			<li><a href="/categories/2-laptops">Trade In MacBook</a></li>
			<li><a href="/categories/2-laptops">Trade In My MacBook</a></li>
		</ul>
		<ul>
			<li><a href="/search?name=iphone%203g">Sell My iPhone 3G</a></li>
			<li><a href="/search?name=iphone%203gs">Sell My iPhone 3GS</a></li>
			<li><a href="/search?name=iphone%204">Sell My Broken iPhone 4</a></li>
			<li><a href="/search?name=iphone%204">Sell My iPhone 4</a></li>
			<li><a href="/search?name=iphone%204s">Sell My iPhone 4s</a></li>
			<li><a href="/categories/3-ipad">Sell My iPad</a></li>
			<li><a href="/categories/5-ipods">Sell My iPod</a></li>
			<li><a href="/categories/2-laptops">Sell My MacBook</a></li>
			<li><a href="/categories/8-blackberry">Sell My Blackberry</a></li>
			<li><a href="/categories/8-blackberry">Trade In My Blackberry</a></li>
		</ul>
	</div>
	<div class="footer-info">
		<ul class="contact">
			<li>&copy; 2010 <a href="/">Depstar.com</a></li>			
			<li><a href="mailto:&#032;&#105;&#110;&#102;&#111;&#064;&#100;&#101;&#112;&#115;&#116;&#097;&#114;&#046;&#099;&#111;&#109;">&#032;&#105;&#110;&#102;&#111;&#064;&#100;&#101;&#112;&#115;&#116;&#097;&#114;&#046;&#099;&#111;&#109;</a></li>
		</ul>
		<div>Depstar is not affiliated with Gazelle, Nextworth, Buymytronics, or Yourenew</div>
		<ul class="footer-nav">
			<li><%= link_to 'Corporate', corporate_path, :class => 'more' %></li>
			<li><%= link_to 'Go Green', go_green_path, :class => 'more' %></li>
			<li><%= link_to 'Get A Check', get_paid_path, :class => 'more' %></li>
			<li><%= link_to 'Privacy Policy', privacy_policy_path, :class => 'more' %></li>
			<li><%= link_to 'Contact', contact_path, :class => 'more' %></li>
			<% if current_user %>
				<li><%= link_to 'Logout', logout_url %></li>
			<% end %>
		</ul>
	</div>
	<ul class="social-networks">
		<li>
			<script type="text/javascript">
			  /* <![CDATA[ */
			  ( 
			    function() {
			      document.write('<'.charAt(0)+'div id="tmDiv_371"'+'>'+'<'.charAt(0)+'/div'+'>');
			      var tmScr_371 = document.createElement('script');
			      tmScr_371.type="text/javascript";
			      setTimeout(function () { tmScr_371.src=(('https:' == document.location.protocol) ? 'https://' : 'http://')+'www.trustmarker.com/pres?k=c95fb71da42fdc1ba36c1410f34e9242b963801a'+'&'.charAt(0)+'c=1'+'&'.charAt(0)+'a=0'+'&'.charAt(0)+'div=tmDiv_371'; document.getElementById('tmDiv_371').appendChild(tmScr_371); },0);
			    })()
			  /* ]]> */
			</script><noscript><a href="http://www.trustmarker.com/green/trustmarks/green_friendly">Green Friendly Site</a></noscript>
		</li>
		<li style="width: 95px;">
			<a href="http://www.youtube.com/depstartv" target="_blank">
				<img src="/images/youtube.png" width="32" height="32" alt="Depstar YouTube" />
				Like us on YouTube
			</a>
		</li>
		<!-- <li style="width: 80px;">
					<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FDepstar%2F109849125756594&amp;send=false&amp;layout=button_count&amp;width=200&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=198615516856869" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:85px; height:21px;" allowTransparency="true"></iframe>
				</li> -->
		<li>
			<a href="http://www.facebook.com/pages/Depstar/109849125756594" target="_blank">
				<img src="/images/bg-facebook.gif" width="30" height="32" alt="Depstar Facebook" />
				Become a fan on Facebook
			</a>			
		</li>
		<li>
			<a href="http://twitter.com/#!/depstar_com" target="_blank">
				<img src="/images/bg-twitter.gif" width="30" height="32" alt="Depstar Twitter" />
				Follow us on Twitter
			</a>
		</li>
	</ul>
</div>
