<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Recycle and Sell All Electronics - Depstar</title>
	<meta name="description" content="Depstar is a revolutionary new way to help save the environment and get paid at the same time. We specialize in buying and recycling all electronics and other consumer goods." />
	<meta name="keywords" content="Depstar, cell phone recycling, recycling cell phones, sell cell phones, electronics recycling, recycle electronics, sell electronics, cash for electronics" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
	<meta name="google-site-verification" content="YzkaLPzHonlFj-UFHnN7NMnzJWeZ2Mx5SyuPznDeC-E" />
	<%= stylesheet_link_tag :all %>
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag 'jquery-1.4.4.min.js', 'jquery-ui-1.8.7.custom.min.js', 'autocomplete-rails.js' %>
	<%= javascript_include_tag 'util-functions.js', 'clear-default-text.js'  %>
	<%= stylesheet_link_tag 'jquery-ui-1.8.7.custom.css' %>
	<%= csrf_meta_tag %>
	<%= yield :javascript %>
	<script type="text/javascript" src="js/main.js" ></script>
	<!--[if lt IE 7]><script type="text/javascript" src="js/png.js" ></script><![endif]-->
	<!--[if lt IE 8]><link rel="stylesheet" type="text/css" href="css/ie.css" media="screen"/><![endif]-->
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-21869901-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>
	<div id="wrapper">
	<div class="w1">
		<div class="w2">
			<div>
				<h1 class='as-seen-on' target="_blank">as featured on<a href="http://money.cnn.com/2011/10/12/technology/iphone_4s/index.htm?source=cnn_bin&hpt=hp_bn5" target="_blank"><img src='/images/cnnmoney_logo.gif' height="40px" style="margin-left: 10px; margin-top: -5px;"></a></h1>
			</div>
			<div class="wrapper-t"></div>
				<div class="wrapper-c">
					<div class="wrapper-holder">
						
						<%= render "layouts/header" %>
						
						<div class="promo">
							<!-- <h2 class='limited-time-offer'>Accessory Bundle ~ Limited Time Offer ~ Details After Check Out! $107.95 Value FREE!</h2> -->							
							<div class="promo-holder">
								<div class="promo-frame">
									<%= yield %>
								</div>								
							</div>
						</div>
						
						<%= render "layouts/threecolumns" %>
						
						<div id="main">						
							<div id="content">
								<h2>So what is Depstar.com all about?</h2>
								<p>Depstar is the fastest way to get paid for your electronics. Our facility is set up to get you more for your valuables. We are a “volume based concept.” We have the manpower to process thousands of electronics daily. Our expertise in the buy/sell/trade business lets us provide superior service than our competition. Not only this, but unlike the competition we issue payment the moment we receive your goods. There is no waiting period to get paid. Your first experience will be the beginning of an ongoing relationship. We look forward to earning your business and getting you the most amount of money as possible.</p>
							</div>
							<div class="aside">
								<h2>Testimonials</h2>
								<blockquote>
									<q>&quot;Thank you so much for honoring your price. I sent in a iPhone and got more money than I ever thought possible.Thank you again.&quot;</q>
									<cite>Kathy from Boise, Idaho.</cite>
								</blockquote>
								<blockquote>
									<q>&quot;Great work Depstar. I even love the name. Its a good show you guys are running there. Very impressed with the service, keep up the good work.&quot;</q>
									<cite>Trent from Philadelphia, Pennsylvania.</cite>
								</blockquote>
							</div>
						</div>						
						<%= render "layouts/footer" %>
						
					</div>
				</div>
			<div class="wrapper-b"></div>
		</div>
	</div>
</div>
</body>
</html>