<%= render 'layouts/inner_head' %>
<body>
	<div id="fb-root"></div>

	<script>
		( function(d, s, id) {

				var js, fjs = d.getElementsByTagName(s)[0];

				if (d.getElementById(id))
					return;
				js = d.createElement(s);
				js.id = id;
				js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=183694155089225";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));

		//var countbox = document.getElementsByClassName('pluginCountBox');
		//countbox.style.display = "none";
	</script>
	<script>
		! function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (!d.getElementById(id)) {
				js = d.createElement(s);
				js.id = id;
				js.src = "https://platform.twitter.com/widgets.js";
				fjs.parentNode.insertBefore(js, fjs);
			}
		}(document, "script", "twitter-wjs");
	</script>
	<div id="wrapper">

		<%= render "layouts/header" %>

		<div id="main">
			<div class="holder">
				<div class="product">
					
					<h2>Sell your iPhone, iPad and more for cash.</h2>
					
					<%= form_tag("/search/", :class => 'product-search') do %>					
					<fieldset>
						<%#= select_tag('id', @products.collect {|p| [ p.name, p.id ] }) %>
						<%= select_tag(:id, options_for_select(@categories.collect {|p| [ p.name, p.id ] }) ) %>
						
						<%= submit_tag 'go', :class => 'btn-go' %>					
					</fieldset>
					<% end %>
					
				</div>
				<div class="banner">
					<img src="images/img1.png" alt="" width="334" height="238" />
				</div>
				<div class="workflow">
					<div class="text">
						<p>
							It's simple to <span>go green </span>and get green now!
						</p>
					</div>
					<span class="arrows">Arrow</span>
					<ul>
						<li>
							<img src="images/img7.png" height="66" width="80" alt="" class="icon" />
							<h2>Quote</h2>
							<p>
								Find your item and get a quote.
							</p>
						</li>
						<li>
							<img src="images/img8.png" height="69" width="80" alt="" class="icon" />
							<h2>Ship It</h2>
							<p>
								Free Shipping on all orders.
							</p>
						</li>
						<li>
							<img src="images/img9.png" height="68" width="68" alt="" class="icon" />
							<h2>Get Paid</h2>
							<p>
								Payment issued sameday!
							</p>
						</li>
					</ul>
				</div>
				<div class="featured">
					<div class="box" style="padding: 10px 0 0;margin-left:26px;width: 321px;">
						<%= link_to how_it_works_path do %>
						<img src="images/how-it-works.png" alt="" class="alignleft" />
						<h2>How It
						<br />
						Works</h2>
						<p>
							Learn about our hassle-free Customer experience.
						</p>
						<% end %>
					</div>
					<div class="box" style="padding: 10px 0 0;margin-left:-6px;width: 314px;">
					
						<%= link_to "/search?utf8=%E2%9C%93&id=#{get_iphone_id}&commit=go" do %>
						<img src="images/img3.png" alt="" class="alignleft" width="90" height="124" />
						<h2>We buy broken iPhones</h2>
						<p>
							We'll purchase any model iPhone no matter what condition it is in.
						</p>
						<% end %>
					</div>
					<div class="box" style="padding: 10px 0 0;margin-left:-25px;width: 322px;">
						<%= link_to corporate_path do %>
						<img src="images/img4.png"  alt="" class="alignleft" style="margin: -4px 22px 0 -13px" />
						<h2>Corporate Buy Back Program</h2>
						<p>
							We do bulk purchase programs for any size business.
						</p>
						<% end %>
					</div>
				</div>
				<!--
				<div class="popular-category">
				<h2><strong>Popular Categories</strong></h2>

				<div class="holder">
				<% @categories.each_slice(4) do |slice| -%>
				<ul>
				<% slice.each do |category| %>
				<li>
				<%= link_to category.name, "/search_result?name=#{category.name}"  %>
				</li>
				<% end %>

				</ul>
				<% end %>
				</div>
				</div>
				-->
			</div>
			<div class="sponsors">
				<div class="frame">
					<h3>As seen on</h3>
					<ul>
						<li>
							<a href="#"><img src="images/sponsor1.png" alt="" /></a>
						</li>
						<li>
							<a href="#"><img src="images/sponsor2.png" alt="" /></a>
						</li>
						<li>
							<a href="#"><img src="images/sponsor3.png" alt="" /></a>
						</li>
						<li>
							<a href="#"><img src="images/sponsor4.png" alt="" /></a>
						</li>
						<li>
							<a href="#"><img src="images/sponsor5.png" alt="" /></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="holder">
				<div class="threecolumn">
					<div class="holder">
						<div class="frame">
							<div class="main">
								<div class="inner">
									<div class="inner-frame">
										<div class="content">
											<div class="testimonial">
												<h2>Reviews</h2>
												<ul>
													<li>
														<blockquote>
															<q>"I like the free shipping and the fact that Depstar sends the packing materials to me." </q>
															<cite>- July 2012</cite>
														</blockquote>
													</li>
													<li>
														<blockquote>
															<q>"They  shipped me the prepaid envelope right away and within two days I had the money in my account!"</q>
															<cite>- June 2012</cite>
														</blockquote>
													</li>
													<li>
														<blockquote>
															<q>"A first rate experience!  A pre-addressed envelope came with my kit.  I was paid the same day my item was received and got way more money with Depstar than I did with Gazelle!"</q>
															<cite>- February 2012</cite>
														</blockquote>
													</li>
												</ul>
											</div>
											<div class="selling-box">
												<h2>Selling Now</h2>
												<h3>Look who is getting cash for their cell phones and electronics...</h3>
												<ul>

													<% @shippings.each do |shipping| %>
													<li>
<p style="float:left;">                                                                 <% if shipping.product.blank?  %>
								<img src="images/img5.png" height="61" width="48" class="alignleft" alt="" />																
								<% else  %>	
								 <%= image_tag shipping.product.photo.url(:thumb) %>
								<% end  %></p>
														<br>
														<h4><%= shipping.first_name  %> <span> received </span><span class="price"> $<%= shipping.offer  %> </span><span>for:</span></h4>
														<p>
															<% if !shipping.product.nil?  %>
																<%= shipping.product.name  %>
															<% else  %>	
																Product Removed
															<% end  %>
														</p>
													</li>
													<% end %>
												</ul>
											</div>
											<div class="post">
												<h2>Depstar Blog</h2>
												<ul>
													<% i = 0 %>
													<% @title.each do |blog| %>
													<% if i < 3 %>												
													<li>
														<% if !@image_url[i].blank? %>
															<span class="alignleft"> <img src="<%= @image_url[i] %>" width="60" height="60" alt="" /> </span>
														<% else %>
															<span class="alignleft"> <img src="images/img-phone10.png" width="60" height="60" alt="" /> </span>														
														<% end %>
														<h3> <%= "#{@title[i]}".html_safe	%> </h3>
														<span class="meta"><%= "#{@posted_by[i]}".html_safe %></span>
													</li>													
													<% end -%>
													<% i = i + 1 %>
													<% end %>													
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="popular-searches">
					<div class="holder">
						<div class="frame">
							<h2><strong>Popular Searches</strong></h2>
							<div class="links-area">
								<ul>
									<li>
										<a href="/iphone">Sell iPhone</a>
									</li>
									<li>
										<a href="/iphone/iphone-5">Sell iPhone 5</a>
									</li>
									<li>									
										<a href="/iphone/iphone-4s">Sell iPhone 4S</a>
									</li>
									<li>
										<a href="/iphone/iphone-4">Sell iPhone 4</a>
									</li>
									<li>
										<a href="/iphone/iphone-3gs">Sell iPhone 3GS</a>
									</li>
									<li>
										<a href="/iphone/iphone-3g">Sell iPhone 3G</a>
									</li>									
								</ul>
								<ul>
									<li>
										<a href="/ipod">Sell iPod</a>
									</li>
									<li>
										<a href="/ipad">Sell iPad</a>
									</li>
									<li>
										<a href="/ipad/ipad-2nd-generation">Sell iPad 2</a>
									</li>
									<li>
										<a href="/ipad/ipad-3rd-generation">Sell iPad 3</a>
									</li>
									<li>
										<a href="/ipad/ipad-4th-generation">Sell iPad 4</a>
									</li>
									<li>
										<a href="/ipad/ipad-mini">Sell iPad mini</a>
									</li>									 									
								</ul>
								<ul>
									<li>
										<a href="/cell-phone">Sell Cell Phones</a>
									</li>
									<li>
										<a href="/cell-phone/samsung">Sell Samsung Phone</a>
									</li>
									<li>
										<a href="/cell-phone/htc">Sell HTC Phone</a>
									</li>
									<li>
										<a href="/cell-phone/motorola">Sell Motorola Phone</a>
									</li>
									<li>
										<a href="/cell-phone/lg">Sell LG Phone</a>
									</li>
									<li>
										<a href="/cell-phone/blackberry">Sell Blackberry Phone</a>
									</li>									
								</ul>
								<ul>
									<li>
										<a href="/tablet">Sell Tablet</a>
									</li>
									<li>
										<a href="/tablet/samsung">Sell Samsung Tablet</a>
									</li>
									<li>
										<a href="/tablet/motorola">Sell Motorola Tablet</a>
									</li>
									<li>
										<a href="/tablet/htc">Sell HTC Tablet</a>
									</li>
									<li>
										<a href="/tablet/lg">Sell LG Tablet</a>
									</li>
									<li>
										<a href="/tablet/amazon">Sell Kindle</a>
									</li>									
								</ul>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<%= render "layouts/footer" %>

	</div>
</body>
</html>